
.wrapper-table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.users-table {
  min-width: 1000px;
  border-collapse: collapse;
  margin: var(--spacing-3) 0;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: var(--table-shadow);

  thead tr {
    text-align: left;
    font-weight: 700;
  }

  th,
  td {
    padding: 12px 15px;
  }

  tr {
    border-bottom: 1px solid var(--gray-color);
  }

  tbody {
    tr:nth-child(even) {
      background-color: var(--grey-color);
    }

    tr:last-child {
      border-bottom: 2px solid var(--primary-color);
    }
  }

  .checkbox {
    position: relative;
    display: flex;
    // justify-content: center;
    align-items: center;
  }

  a {
    color: var(--link-color);
    text-decoration: none;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.action {
  display: flex;
  gap: var(--spacing-3);
  justify-content: center;
}

.sortable {
  display: flex;
  flex-wrap: nowrap;
}

@media only screen and (max-with: 768px) {
  .wrapper-table .pagination {
    display: none;
  }
}